---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 shirts
heading: Shirts
motif: building1
---
{% markdown %}
There are two options available for the commemorative polo shirts featuring the linux.conf.au 2018 artwork.

## Women's Classic Fit

Our women's classic fit option is the [JB's wear Ladies Piping Polo](https://www.jbswear.com.au/product-detail/-in-product/7LPI).

{% endmarkdown %}
<table class="table table-responsive table-striped table-bordered" summary="This table has sizing information for women's shirts">
  <tr>
    <th>Size</th>
    <td>8</td>
    <td>10</td>
    <td>12</td>
    <td>14</td>
    <td>16</td>
    <td>18</td>
  </tr>
  <tr>
    <th>Chest</th>
    <td>43.5</td>
    <td>46&nbsp;&nbsp;</td>
    <td>48.5</td>
    <td>51&nbsp;&nbsp;</td>
    <td>53.5</td>
    <td>56&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <th>Shoulder point length</th>
    <td>62</td>
    <td>64</td>
    <td>66</td>
    <td>68</td>
    <td>70</td>
    <td>72</td>
  </tr>
</table>

{% markdown %}
## Men's / Straight Cut

Our men's/straight cut option is the [JB's wear S/S Piping Polo](https://www.jbswear.com.au/product-detail/-in-product/7PIP).

{% endmarkdown %}
<table class="table table-responsive table-striped table-bordered" summary="This table has sizing information for men's or straight cut shirts">
  <tr>
    <th>Size</th>
    <td>S</td>
    <td>M</td>
    <td>L</td>
    <td>XL</td>
    <td>2XL</td>
    <td>3XL</td>
    <td>4XL</td>
  </tr>
  <tr>
    <th>Chest</th>
    <td>53.5</td>
    <td>56</td>
    <td>58.5</td>
    <td>61</td>
    <td>63.5</td>
    <td>66.5</td>
    <td>70</td>
  </tr>
  <tr>
    <th>Shoulder point length</th>
    <td>70</td>
    <td>72.5</td>
    <td>75</td>
    <td>77.5</td>
    <td>80</td>
    <td>81</td>
    <td>82</td>
  </tr>
</table>
