---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 homepage
---

<div class="row my-4">
  <div class="col">
    <h1>Welcome to linux.conf.au 2018!</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 order-12 order-md-1">
    <h2>The conference is over for 2018</h2>
    <p> The LCA2018 team would like to thank everyone involved for helping us making this another successfull linux.conf.au event</p>
    <p></p>
    <h2>Conference dates 2018</h2>
    <h4>22 - 26 January at the main University of Technology, Sydney campus</h4>
    <ul>
      <li>Miniconf days: 22nd & 23rd January 2018</li>
      <li>Main conference: 24 - 26 January 2018</li>
    </ul>
  </div>
  <div class="col-md-4 order-1 order-md-12">
    <img class="lca2018-banner-logo my-3 my-md-0" src="{{ media_url('img/LCA18_full.svg') }}" />
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>LCA2018 - What is it?</h2>
    <p>Being held at the University of Technology, Sydney, linux.conf.au is the largest linux and open source conference in the Asia-Pacific region. Run annually since 1999, it brings together the Australian, New Zealand and international community for standout presentations, demonstrations and relationship building.</p>
    <p>linux.conf.au is a conference where people gather to learn about the entire world of Free and Open Source Software, directly from the people who shape the projects and topics that they’re presenting on.</p>
    <p>We aim to provide a deeply technical conference made up of industry leaders and experts on a wide range of subjects from the inner workings of the Linux kernel itself, to open source projects (hardware and software), to open data, to open government to community engagement.</p>
    <p>Still unsure what linux.conf.au is all about? You can take a first hand look at it through videos from past linux.conf.au on YouTube: <a href="https://www.youtube.com/user/linuxconfau2017/videos">LCA2017</a> or <a href="https://www.youtube.com/user/LinuxAustralia/channels">earlier</a>.</p>
  </div>
</div>
