<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">

  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ resource.meta.title }}" />
  <meta property="og:image" content="{{ site.config.host_url }}{{ media_url('img/LCA18_full_large.png') }}" />
  <meta property="og:image:alt" content="{{ resource.meta.imagealt }}" />

  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href={{ media_url("img/apple-touch-icon-57x57.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href={{ media_url("img/apple-touch-icon-114x114.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href={{ media_url("img/apple-touch-icon-72x72.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ media_url("img/apple-touch-icon-144x144.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href={{ media_url("img/apple-touch-icon-60x60.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href={{ media_url("img/apple-touch-icon-120x120.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href={{ media_url("img/apple-touch-icon-76x76.png") }} />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href={{ media_url("img/apple-touch-icon-152x152.png") }} />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-196x196.png") }} sizes="196x196" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-96x96.png") }} sizes="96x96" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-32x32.png") }} sizes="32x32" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-16x16.png") }} sizes="16x16" />
  <link rel="icon" type="image/png" href={{ media_url("img/favicon-128.png") }} sizes="128x128" />
  <meta name="application-name" content="linux.conf.au 2018"/>
  <meta name="msapplication-TileColor" content="#9e9e9e" />
  <meta name="msapplication-TileImage" content={{media_url('mstile-144x144.png') }} />
  <meta name="msapplication-square70x70logo" content={{media_url('mstile-70x70.png') }} />
  <meta name="msapplication-square150x150logo" content={{media_url('mstiyle-150x150.png') }} />
  <meta name="msapplication-wide310x150logo" content={{media_url('mstile-310x150.png') }} />
  <meta name="msapplication-square310x310logo" content={{media_url('mstile-310x310.png') }} />
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/bar_body.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/custom.css') }}">
  {% endblock css %}

  {% block headjs %}
  <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
  <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script>
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
    {% block header -%}
    <header>
      {% block nav %}
      {% from "macros.j2" import render_nav with context %}
      {{ render_nav(menu) }}
      {% endblock nav %}
    </header>
    {%- endblock header %}

    {% block container %}
    <section class="content">
      {%- if resource.meta.heading -%}
      <h1 class="heading-motif {{ resource.meta.motif }}">{{ resource.meta.heading }}</h1>
      {%- endif -%}
      {% block main %}
      {% endblock main %}
    </section>
    {% endblock container %}

    <div class="row mt-5 mb-2">
      <div class="col">
        <div class="card">
          <h3 class="card-header">Sponsors</h3>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-2 col-lg-4 mr-auto">
                <p class="penguin-thanks">We thank our sponsors for their generous contribution to linux.conf.au 2018.</p>
                <a href="{{ content_url('sponsors') }}" class="btn btn-outline-primary mb-3 mb-md-0">View all sponsors</a>
              </div>
              <div class="col col-md-4">
                <h4 class="card-title">Emperor Penguin</h4>
                <div class="penguin-logo penguin-emperor my-5">
                  <a href="https://www.ibm.com" class="d-block">
                    <img class="img-fluid mh-25" src="{{ media_url('img/sponsors/ibm-logo.jpg') }}" />
                  </a>
                </div>
              </div>
              <div class="col col-md-4">
                <h4 class="card-title">Venue</h4>
                <div class="penguin-logo penguin-emperor my-5">
                  <a href="https://www.uts.edu.au" class="d-block">
                    <img class="img-fluid mh-25" src="{{ media_url('img/sponsors/uts-logo.svg') }}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="row">
      <div class="col ml-auto">
        <nav class="footer my-2" role="navigation">
          <a href="#">Back to top</a><br>
          &copy; 2017 linux.conf.au and <a href="http://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds<br>
          <a href="https://gitlab.com/LCA2018/lca2018-static">Website Source</a> | <a href="https://gitlab.com/LCA2018/lca2018-static/issues">Report an issue</a> | <a href="{{content_url('attributions')}}">Acknowledgements</a><br/>
        </nav>
      </div>
    </footer>
  </div> <!--! end of #container -->
  {% endblock content%}
  {% block js %}
  <!-- Javascript at the bottom for fast page loading -->
  {% block jquery %}
  <!-- Grab Google CDN's jQuery, with a proþtocol relative URL; fall back to local if necessary -->
  <script src="{{ media_url('js/jquery-3.2.1.slim.min.js') }}"></script>
  <script>window.jQuery || document.write('<script src="{{ media_url('js/libs/jquery-3.2.1.min.js') }}">\x3C/script>')</script>
  {% endblock jquery %}
  <script src="{{ media_url('js/libs/popper.min.js') }}"></script>
  <script src="{{ media_url('js/libs/bootstrap.min.js') }}"></script>

  {% block scripts %}
  {% endblock scripts %}

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
