{% macro render_excerpt(res, class=None) %}
{% refer to res.relative_path as post %}
<article class="my-3 {{ class }}">
<h2><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h2>
<a class="float-left mr-3" style="max-inline-size: 100px !important;" href="{{ content_url(res.url) }}">{{ post.image }}</a>
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}" class="text-muted">
  Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>

{{ post.excerpt|markdown|typogrify }}
<a href="{{ content_url(res.url) }}">Read more</a>
</article>
{% endmacro %}

{% macro render_nav_item(classes, item) -%}
{%- if item.children -%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {{ classes | join(' ') }}" id="navbarDropdownMenuLink{{item.name|e}}"
    {%- if item.description -%}
    title="{{ item.description }}"
    {%- endif -%}
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span>{{ item.name }}</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{item.name|e}}">
    {% for child in item.children -%}
    {%- if child.enabled | default(True) -%}
    <a class="dropdown-item"
      {%- if child.description -%}
      title="{{ child.description }}"
      {%- endif -%}
      href="{{ child.url if child.type == "external" else content_url(child.url) }}">
      {{ child.name }}
    </a>
    {%- endif -%}
    {% endfor -%}
  </div>
</li>
{%- else -%}
<li class="nav-item">
  <a class="nav-link {{ classes | join(' ') }}"
    {%- if item.description -%}
    title="{{ item.description }}"
    {%- endif -%}
    href="{{ item.url if item.type == "external" else content_url(item.url) }}">
    <span>{{ item.name }}</span>
  </a>
</li>
{%- endif -%}
{% endmacro -%}


{% macro render_nav(menu, cls=None) -%}
{%- if menu -%}
<nav class="navbar navbar-expand-lg navbar-light" role="navigation">
  <a class="navbar-brand logo" href="{{ content_url('') }}">
    <img src="{{ media_url('img/LCA18_nodate.svg') }}" height="80" alt="linux.conf.au 2018" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      {% for item in menu -%}
      {%- if item.enabled | default(True) -%}
      {%- if item.type == 'page' -%}
          {%- set active = (resource.url == site.content.resource_from_relative_path(item.url).url) -%}
      {%- else -%}
          {%- set active = (node == site.content.node_from_relative_path(item.url)) -%}
      {%- endif -%}
      {%- set classes = ['page-scroll'] -%}
      {%- do classes.append('active') if active -%}
      {%- do classes.append(item.css_class) if item.css_class -%}
      {{ render_nav_item(classes, item) }}
      {%- endif -%}
      {%- endfor %}
    </ul>
  </div>
</nav>
{%- endif %}
{%- endmacro %}
