---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 attend
heading: Attend
motif: building1
---
{% markdown %}
## Ticket Information

### Purchase your ticket
{% endmarkdown %}

<div class="my-3">
  <a class="btn btn-primary btn-lg" href="https://rego.linux.conf.au">Register to attend</a><br>
</div>

{% markdown %}

Once you are logged in you will have an option to purchase a ticket on the dashboard page.

Payment is by Visa, Mastercard, or American Express cards only.

If you have any special requirements or concerns that are not captured in our registration process please don't hesitate to get in touch with us.

All attendees of the conference must agree to abide by the conference's [Code of Conduct]({{ content_url('attend/code-of-conduct') }}).
The conference aims to provide a safe and welcoming environment for all attendees and we take the Code of Conduct seriously.

All ticket purchases are subject to the conference [Terms and Conditions]({{ content_url('attend/terms-and-conditions') }}).

If you run into problems during registration, checkout the
[FAQ]({{content_url('attend/faq')}}), which has answers to common
questions as well as contact details for our team.

### Key Dates
**Early Bird Registrations Closed: October 31st**

**Regular Registrations Close: January 15th**

**Extended Registrations Close: January 22nd**

## Prices and inclusions

All prices quoted are in Australian Dollars and include 10% Australian Goods and Services Tax (GST).

**Regular ticket sales have now closed. [Conference only]({{ content_url('news/extended-ticket-sales.html') }}) tickets are still available, but do not include the Penguin Dinner or Shirts.**

{% include 'pricing_matrix.html' %}

## Ticket types

### Fairy Penguin

The Fairy Penguin ticket is a sponsorship level ticket designed for those who wish to attend linux.conf.au 2018 as a Professional Delegate as well as supporting the conference by contributing financially.
In recognition of this support, your logo and links to your business/organisation are published on the Sponsors page.

To become a Fairy Penguin Sponsor, simply register and purchase a Fairy Penguin ticket, or email sponsorship@lca2018.org for more information.

### Professional

The Professional ticket is the standard full inclusion conference ticket.
This rate applies to most people who have their companies pay the conference fees and charge it as a professional development expense, or for individuals who can legitimately claim it is a tax deduction.
The benefits of a Professional ticket include attendance at the Professional Delegates Networking Session, attendance at the Penguin Dinner, and a Swag Bag.

### Hobbyist

The Hobbyist rate is heavily discounted for free software enthusiasts who are paying out of their own pockets and would otherwise find it difficult to attend.

### Student

This is a concession rate ticket that is reserved for High School, College (incl TAFE), or University Students.
linux.conf.au offers this rate as a form of investment in the future of the free and open source software community.
As part of the registration process, a valid student ID card or proof of enrolment must be presented to the onsite registration desk.
Any Student who cannot provide this will be required to register at LCA2018 as a hobbyist by paying the difference in fees between the Student rate and the Hobbyist rate.

## Other information

### Volunteers

linux.conf.au would not be as successful as it is, without having a dedicated team of volunteers to help run the conference.
If you're interested in spending the week of LCA2018 helping run the conference, please [apply to be a volunteer]({{ content_url('attend/volunteer') }}).

### Media

There are a limited number of Media Passes available to media personnel.
Media Passes are free of charge, and entitle media personnel to attend LCA2018 with all the entitlements of a Professional registration.
Please note, due to the limited numbers of Media Passes available, all Media Passes will need to be approved by the LCA2018 Organisers.

To apply for a Media Pass, please contact team@lca2018.org.

### Diversity/Outreach/Financial assistance program
Thanks to Elastic.co, linux.conf.au will again be running an Outreach and Inclusion Programme, providing financial assistance for people who could not otherwise attend.
More information about financial assistance at linux.conf.au 2018 can be found on our [assistance grants page]({{ content_url('attend/grants') }}).

### Childminding service

A childminding service will be available for the duration of the conference, from Mon 22 - Fri 26 Jan, inclusive.

The cost is $30/day for the first child, with each subsequent child from a single family unit being $15/day.

For example:

* If you have one child and will be leaving them at the creche every day, this would be 5 first child days costing $150.
* If you have one child you'll be leaving Mon-Wed, and a second child you'll be leaving Wed-Fri, this would be 5 first child days and 1 additional child day, at a cost of $165 (because there's one day with two children).

You can register and pay for childminding through the [registration site](https://rego.linux.conf.au/tickets/category/11).
Please contact team@lca2018.org if you would like assistance with this.

### Partners Programme

This is not being officially offered this year.
However if any partners wish to self-organise they can use the Conference Wiki system to start that process.

### Accommodation

There are many hotels offering rooms for a range of budgets in Sydney.
linux.conf.au 2018 has also arranged discounted accommodation with surrounding providers.
See our [accommodation options]({{ content_url('attend/accommodation') }}) for further details.

### Go Green and Carbon Offset
When purchasing your ticket there is an option to purchase carbon offsets.

{% endmarkdown %}
