---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 grants
heading: Grants
motif: building1
---
{% markdown %}
## Grants/Finanacial Assistance Program


There is a pool of funds available to assist attendees who may not otherwise be able to attend. These grants form a key part of our outreach and inclusion efforts at linux.conf.au. 

We want to make sure that as many people as possible can attend the event, regardless of financial ability or their background.

Applications can be made here via our application form using the "Apply here" button on this page..

Grants may be for full or partial travel expenses, accommodation at one of our preferred accommodation providers, a ticket to the conference, or other assistance that helps overcome barriers to your attendance.

The grant application process is open to everyone who needs financial assistance, but our budget is limited. We will give priority to applicants with a clear vision for what they want to achieve by attending linux.conf.au 2018

For reference, the form includes the following two questions, which require 1-2 paragraphs to answer:

* Why do you want to attend linux.conf.au? What experience do you have that you want to build on at linux.conf.au?
* How would you and the communities you're a part of benefit from your attendance at linux.conf.au?

Because travel to Australia from overseas can be expensive, we may only be able to provide limited travel assistance to applicants outside the Australia and New Zealand region.

#### Applications open: Now!

#### Applications close: Sunday 24th December. 

#### First grant acceptances expected: Thursday 4th January.

Please keep in mind that this is a busy holiday period. If you haven't heard from us by this date do not take it as a sign of rejection.

{% endmarkdown %}

<div class="my-3">
  <a class="btn btn-primary btn-lg" href="https://linux.conf.au/attend/grants/apply/index.html">Apply here</a><br>
</div>

{% markdown %}

If you have any questions, please e-mail team@lca2018.org

{% endmarkdown %}

