---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 Programme
heading: Conference Programme
motif: beach
---
{% markdown %}
#### When: 22 - 26 January 2018

#### Where: Main campus of the University of Technology, Sydney

The conference starts out with 12 Miniconfs spread over 2 days on the 22nd and 23rd of January.

The final 3 days of the conference, from the 24th to the 26th of January, has 80 talks and 8 tutorials spread over 6 parallel tracks.

## Week Overview
{% endmarkdown %}
<div class="table-responsive">
<table class="table table-striped table-bordered" summary="This table provides a summary of the conference days">
<TR>
  <TH> Day </TH>
  <TH> Start of Day </TH>
  <TH>Daytime</TH>
  <TH>Evening</TH>
</TR>
<TR>
  <TH> Sunday </TH>
  <TD> Volunteer induction/orientation </TD>
  <TD> Check-in opens + First timers welcome </TD>
  <TD> </TD>
</TR>

<TR>
  <TH> Monday </TH>
  <TD> Conference Welcome </TD>
  <TD> Miniconfs </TD>
  <TD> Linux Australia AGM </TD>
</TR>
<TR>
  <TH> Tuesday </TH>
  <TD> Keynote #1 </TD>
  <TD> Miniconfs </TD>
  <TD> Speaker's Dinner </TD>
</TR>
<TR>
  <TH> Wednesday </TH>
  <TD> Keynote #2 </TD>
  <TD> Main Conference </TD>
  <TD> Penguin Dinner </TD>
</TR>
<TR>
  <TH> Thursday </TH>
  <TD> Keynote #3 </TD>
  <TD> Main Conference </TD>
  <TD> Professional Delegates Networking Session </TD>
</TR>
<TR>
  <TH> Friday </TH>
  <TD> Keynote #4 </TD>
  <TD> Main Conference <br> Lightning talks and Conference Close </TD>
  <TD> </TD>
</TR>
</table>
</div>

{% markdown %}

## Daily Schedule Overview
{% endmarkdown %}

<div class="table-responsive">
<table class="table table-striped table-bordered" summary="This table provides a summary of the conference days">

<TR>
  <TH> Time </TH>
  <TH> Activity </TH>
</TR>
<TR>
  <TD> 9.00am </TD>
  <TD> Start of day and housekeeping </TD>
</TR>
<TR>
  <TD> 9.10am </TD>
  <TD> Welcoming remarks and/or keynote </TD>
</TR>
<TR>
  <TD> 10.10am </TD>
  <TD> Morning tea (catered) </TD>
</TR>
<TR>
  <TD> 10.45am </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 12.25pm </TD>
  <TD> Lunch (un-catered) </TD>
</TR>
<TR>
  <TD> 13.40pm </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 15.20pm </TD>
  <TD> Afternoon tea (catered) </TD>
</TR>
<TR>
  <TD> 15.45pm </TD>
  <TD> Talks </TD>
</TR>
<TR>
  <TD> 17.25pm </TD>
  <TD> Sessions end </TD>
</TR>
<TR>
  <TD> 17.30pm </TD>
  <TD> BoF sessions and evening events </TD>
</TR>
</table>
</div>

{% markdown %}

## Main Conference Presentation Schedule
The main conference schedule [can be found here!](https://rego.linux.conf.au/schedule/main/)

## Presentation Types

### Welcome Address
The conference organisers start the week by welcoming everyone and letting everyone know the general housekeeping requirements of the conference.

### Keynotes
From Tuesday through to Friday the day starts off with a Keynote presentation. We are really excited by our invited guests this year and will be making announcements very soon.

### Talks
35-45 minute presentations on a single topic. These are generally presented in lecture format and form the bulk of the available conference slots.

### Tutorials
90 minute interactive learning sessions being held in the Medium Lecture Theatr (CB11.00.401).  Particpants will gain some hands on knowledge or experience in a topic.These are generally presented in a classroom format and are interactive or hands-on in nature. Some tutorials will require prepartation work to be done or some hardware to be purchased prior to their attendance - please check the individual tutorial descriptions for more information.

### Lightning Talks
On Friday afternoon the now traditional lightning talks (3-5 minutes each) take place. 

### Conference Close
The final part of the conference will include a thanks to all volunteers, the charity raffle draw, announcement of the next year's LCA location and formal closing.


{% endmarkdown %}
