---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 sponsors
heading: Our Sponsors
motif: qvb
---
{% markdown %}

We would like to thank all of our sponsors.
Without them the conference would not be possible.

If you are interested in supporting linux.conf.au 2018, we would [love to hear from you]({{ content_url('sponsors/why-sponsor')}})!

<div class="row">
    <div class="col-md">
        <h2>Emperor Penguin</h2>
        <div class="penguin-logo penguin-emperor my-5">
            <a href="https://www.ibm.com" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/ibm-logo.jpg') }}" />
            </a>
        </div>
    </div>

    <div class="col-md">
        <h2>Venue Sponsor</h2>
        <div class="penguin-logo penguin-venue my-5">
            <a href="https://www.uts.edu.au" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/uts-logo.svg') }}" />
            </a>
        </div>
    </div>
</div>

## King Penguin

<div class="row">
    <div class="col-md">
        <div class="penguin-logo penguin-king mb-5 my-5">
            <a href="https://aarnet.edu.au/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/aarnet-logo.png') }}" />
            </a>
        </div>
    </div>
</div>

## Royal Penguin

<div class="row">
    <div class="col-md">
        <div class="penguin-logo penguin-royal mb-5 my-5">
            <a href="https://www.redhat.com/en" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/red-hat-logo.svg') }}" />
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="penguin-logo penguin-royal mb-5">
            <a href="https://www.csiro.au" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/csiro-logo.jpg') }}" />
            </a>
        </div>
    </div>
</div>

## Adelie Penguin

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-adelie mb-5">
            <a href="https://sol1.com.au" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/sol1-logo-300.png') }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-adelie mb-5">
            <a href="https://opensource.google.com/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/google-open-source-logo.svg') }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-adelie mb-5">
            <a href="https://www.itpa.org.au/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/itpa-logo.png') }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-adelie mb-5">
            <a href="https://lwn.net/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/lwn-logo.svg') }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-adelie mb-5">
            <a href="https://github.com/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/github-octocat.png') }}" />
            </a>
        </div>
    </div>
</div>

## Outreach and Inclusion

<div class="penguin-logo penguin-outreach mb-5">
    <a href="https://www.elastic.co/" class="d-block">
        <img class="img-fluid" src="{{ media_url('img/sponsors/elastic-logo.svg') }}" />
    </a>
</div>

## Fairy Penguin

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://www.discourse.org/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/discourse-logo.png') }}" />
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://isi.nc/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/isinc-logo.svg') }}" />
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://www.papercut.com/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/papercut-software-logo.png') }}" />
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://www.auscert.org.au/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/auscert-logo.png') }}" />
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://www.lpi.org/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/lpi-logo.png') }}" />
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-fairy mb-5">
            <a href="https://www.tritium.com.au/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/tritium-logo.jpg') }}" />
            </a>
        </div>
    </div>
</div>

## Other

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-other mb-5">
            <a href="https://wargaming.net" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/wg-syd-logo.png') }}" />
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="penguin-logo penguin-other mb-5">
            <a href="https://www.microsoft.com/en-au/" class="d-block">
                <img class="img-fluid" src="{{ media_url('img/sponsors/microsoft-logo.png') }}" />
            </a>
        </div>
    </div>
</div>

## In Kind

<div class="penguin-logo penguin-inkind mb-5">
  <a href="https://tomu.im/" class="d-block">
    <img class="img-fluid" src="{{ media_url('img/sponsors/tomu-kosagi-logo.svg') }}" />
  </a>
</div>

{% endmarkdown %}
