---
extends: base.j2
default_block: main
title: linux.conf.au 2018 - Sydney 22-26 January 2018
description: linux.conf.au 2018 fpga, linux and python miniconf
heading: Miniconfs
motif: beach
---
{% markdown %}
## Create Hardware with FPGAs, Linux and Python

<p class="lead">
Organised by <a href="mailto:me@mith.ro">Tim 'mithro' Ansell</a> and friends.
</p>

### When

Tuesday, 23 January 2018

**This is an all day event, you will not be able to attend other miniconfs.**

### Attending

#### Tickets

<div class="alert alert-danger">
The Miniconf is curently sold out! You can
<a href="https://goo.gl/forms/SOtuVV94QsUKujen1" class="alert-link">sign up to the waitlist</a>.
</div>

As this Miniconf requires specialized hardware, to attend you are **required**
to purchase a seperate ticket. Numbers are strictly limited, so get your ticket
now!

All ticket include the needed hardware and lunch on the Miniconf day.

The three tickets options are;

<ul>
 <li>Basic Ticket + Kit - $150 AUD (inc GST), the basic ticket + kit includes;
   <ul>
   <li>Lunch at the Miniconf</li>
   <li><a href="http://store.digilentinc.com/arty-a7-artix-7-fpga-development-board-for-makers-and-hobbyists/">Digilent Artix A7-35T FPGA Development Board</a></li>
   <li>Either (select the right one for your laptop);
   <ul>
      <li>USB-C Ethernet and USB Hub, or</li>
      <li>USB-A Ethernet and USB Hub</li>
    </ul>
    </li>
   <li>Short micro-USB + Ethernet cables</li>
   </ul>
 </li>
 <li>Goodies Ticket + Kit - $250 AUD (inc GST), the goodies ticket + kit includes everything in the Basic Ticket plus <a href="http://store.digilentinc.com/pmod-modules/">a selection of Pmod expansion boards</a></li>
 <li>Sponsored Ticket + Kit - $0 AUD (inc GST), <a href="http://store.digilentinc.com/">Digilent</a> have provided kit so we can provide a number of free tickets to people who can not afford to pay otherwise. Please only sign up for a free ticket if you are unable to pay.</li>
</ul>


##### Purchasing

Tickets can be purchased on the [Attend Registration Dashboard](https://rego.linux.conf.au/).
Look under the "Add/Update Items" for the [FPGA Miniconf Product Category](https://rego.linux.conf.au/tickets/category/9).

**Make sure you select the right kit for your laptop.**

#### Assumed Knowledge

While this tutorial aims to be as accessible as possible, only so much can be covered in a day.
For this reason attendees should have;

 * Strong programming experience. Python and C will be in heavy use.

 * Compiled and customized their own Linux kernel.
   *(Experience with Linux Kernel development is a definite plus!)*

 * Understanding of how a CPU operates.
   *(Understanding what Config/Control Status Registers - CSRs and "memory mapped IO" are a plus.)*

##### Pre-work

Everyone attending the tutorial **must have completed the pre-work before** the tutorial.
The pre-work will be checked at the start of the tutorial and anyone who hasn't done the pre-work will be asked to leave,
**even if they have a valid ticket** (no refund will be given).

The tutorial organisers will be available on Monday, 22 January 2018 to help with people stuck on the pre-work.

##### Other Requirements

###### Laptop

<ul>
 <li>A computer running one of the following 64bit Linux Distro,
  <ul>
    <li>Arch Linux</li>
    <li>Debian "testing" as of 2017-11-11</li>
    <li>Fedora 26</li>
    <li>Ubuntu 14.04 - Trusty Tahr</li>
    <li>Ubuntu 16.04 - Xenial Xerus</li>
    <li>Ubuntu 17.10 - Artful Aardvark</li>
  </ul>
 </li>
 <li>Modern CPU able to compile Linux reasonable quickly (10ish minutes)</li>
 <li>~50gb of free disk space</li>
 <li>8gb of RAM</li>
</ul>

Using a virtual machine may work but is *not* recommended.

###### Software

You will be required to download and instal Xilinx Vivado as part of the pre-work.

Vivado is free as in beer but **not** free as in freedom, this is the only non-FOSS tool used in the tutorial.

We are using "Vivado Design Suite - HLx Editions" and the 2017.3 release. You will also need the free WebPack license.

### About

In 2005 the Love-Rusty 3000 was a state of the art crypto accelerator. Developed by the infamous Robert Love & Rusty Russell, it was the talk of [Linux.conf.au 2005](http://lca2005.linux.org.au/).
[Many intrepid kernel hackers spent much of the conference developing a Linux driver](https://linux.org.au/conf/2005/abstractb2b1.html?id=296) for the [advanced feature set](https://docs.google.com/document/d/e/2PACX-1vTCbsWycq6HTfIet-ynicf76VEKOLt_k_Bya3OOWKpDCZL3yIphy-CR5GNfPaQCfUt0PUIHDY_ugxWL/pub).

Sadly in 2018 the hardware is no longer available, the innovative & advanced feature set can no longer inspire new Engineers.
This doesn't have to be the end thanks to the development of low cost and accessible FPGA hardware.
You **can** help resurrect this jewel of a device to inspire the next generation!
What was old is new again!

The [Migen tooling developed by M-Labs](https://m-labs.hk/gateware.html) when extended by [EnjoyDigital's LiteX ecosystem](http://www.enjoy-digital.fr/) enables creation of "**S**ystem **o**n **C**hip" (SoCs) that can run Linux.
Using a Python based "**H**ardware **D**escription **L**anguage" (HDL) combined with <a href="#opencpu">open CPUs cores</a>, the complete source code available under [open source licenses](https://opensource.org/licenses).

This technology has been used in everything from custom mobile phone base stations, [quantum mechanics physics experiments](https://m-labs.hk/artiq/index.html) and is even the basis for the [TimVideos HDMI2USB project](https://hdmi2usb.tv) which is currently being used to record Linux.conf.au!

During the day we will take you through the following;

 * Creating your own SoC using [Python based Migen](https://m-labs.hk/gateware.html) and [LiteX](https://github.com/enjoy-digital/litex).

 * Running your SoC on an FPGA and booting into Linux.

 * Creating a peripheral providing the Love-Rusty 3000 feature set and adding to your SoC.

 * Controlling your new peripheral from Linux.

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a name="opencpu">
[3]: Like any of [PicoRV32](https://github.com/cliffordwolf/picorv32),
[OpenRISC 1K](https://github.com/openrisc/mor1kx),
[LatticeMicro32](https://en.wikipedia.org/wiki/LatticeMico32) or
[J2 open processor](http://j-core.org/).
</a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endmarkdown %}